= search_form_for @q, :url=>request.url, :html=>{:method=>:get, :class=>"form-search pull-right"} do |f|
  .input-append
    = f.text_field :title_cont, :class=>"search-query span2"
    = f.button "Search", :class=>"btn", :type=>:submit

