/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
*/

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
.code_area{
  font-family: courier;
}
.user_image{
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.linenos, .linenodiv{
  width: 60px !important;
  vertical-align: top;
}
.linenodiv{
  border-right: 1px solid lightgrey;
}
.highlight pre { white-space: pre !important; overflow: auto; }
.table td.center_text{ padding-left: 30px;}
.highlighttable{
  min-width: 98%;
}
.timeline_event{
  padding: 3px 0;
  .te_label{
    margin: 0 10px 0 0;
  }
}
.scrap_wrapper{
  border: 1px solid lightgrey;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.group_wrapper, .scrap_wrapper{
  padding: 5px;
  margin-bottom: 10px;
}
.clear{
  clear: both;
}
.scrap_title{
  padding-top: 6px;
  padding-left: 10px;
}
.links .btn.disabled, .btn[disabled]{
  cursor: pointer;
}
.scrap_wrapper{
  .badge.file_number{
    margin-left: 5px;
    margin-top: 10px;
  }
}
#appriaciate_work{
  /*background-color: lightSteelBlue;*/
}
td.code{
  padding-left: 10px;
}





body {
  padding-top: 60px;
}
.footer {
  border-top: 1px solid #eee;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
/* Customize the nav-justified links to be fill the entire space of the .navbar */
.nav-justified {
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #777;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #d5d5d5;
  background-color: #e5e5e5;
  /* Old browsers */
  background-repeat: repeat-x;
  /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #e5e5e5));
  /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#e5e5e5', GradientType=0);
  /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  /* W3C */
}
.nav-justified > .active > a, .nav-justified > .active > a:hover, .nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, .15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}
@media(min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-left: 1px solid #fff;
    border-right: 1px solid #d5d5d5;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-radius: 0 5px 5px 0;
    border-right: 0;
  }
}
/* Responsive: Portrait tablets and up */
@media screen and(min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead, .marketing, .footer {
    padding-left: 0;
    padding-right: 0;
  }
}
